**/node_modules

./src/models/fan.model.ts
./src/models/post.model.ts
./src/models/comment.model.ts
./src/models/followRequest.model.ts

./src/controllers/post.controller.ts
./src/controllers/comment.controller.ts

./src/routes/post.routes.ts
./src/routes/comment.routes.ts

./src/services/post.service.ts
./src/services/comment.service.ts